{% extends "master.html" %}
{% block title %}Aufgabe 1 Übersicht{% endblock %}
{% block content %}
    <p>
        <h3>Aufgabe</h3>
        Erstelle eine eigenständige und einfache Webanwendung/Web-API, die die Längen- und
        Breitengrade (Longitude/Latitude) für eine bestimmte IP4-Adresse ausgeben kann. Du kannst dir die
        UI als eine einzelne Textzeile vorstellen, die beim Abschicken die Geolocation der Eingabe ermittelt
        und die Ergebnisse zurückgibt.
    </p>
    <p>
        <h3>Test Anleitung</h3>
        <BR>
        WebApp
        <ul>
            <li>Navigiere zu <a href="/WebAPP">/WebApp</a></li>
            <li>In das Feld mit dem Platzhalter "IP Adresse" die IP Adresse in der CIDR notation eintragen</li>
            <li>Auf den Button "IP Adresse Nachschauen" clicken</li>
            <li>Das Ergebnis wird über den Eingabe Feldern Angezeigt</li>
        </ul>
        API
        <ul>
            <li>URL: /API?id="Ip Adresse in der CIDR Notation"</li>
            <li>GET Request</li>
            <li>JSON als Returnwert </li>
        </ul>
    </p>


{% endblock %}